<div class="hcs-checkbox relative inline-block mb-2 {% if include.indeterminate %}indeterminate{% endif %}">
  <input
    id="{{ include.id }}"
    type="checkbox"
    class="hidden"
    {% if include.disabled %}disabled="disabled"{% endif %}
    {% if include.checked %}checked="checked"{% endif %}
    value=""
  />
  <label
    class="
      bg-white
      w-full
      h-full
      cursor-pointer
      absolute
      rounded
      flex
      items-center
      justify-center
    "
    for="{{ include.id }}"
  ></label>
</div>
