<label
  class="
    hcs-field
    hcs-checkbox
    {% if include.indeterminate %}hcs-checkbox--indeterminate{% endif %}
    {% if include.small %}hcs-checkbox--small{% endif %}
  ">
  <input
    type="checkbox"
    class="hcs-checkbox__input hidden"
    {% if include.disabled %}disabled="disabled"{% endif %}
    {% if include.checked %}checked="checked"{% endif %}
    {% if include.id %}id="{{ include.id }}"{% endif %}
    value=""
  />
  <span class="hcs-checkbox__pseudo"></span>
  <span class="hcs-field__option-label" {% if include.id %}for="{{ include.id }}"{% endif %}>
  {% if include.label-text %}{{include.label-text}}{% else %}Label{% endif %}
  </span>
</label>
