---
layout: default
permalink: /form-elements/
---
<h1>Form Elements</h1>

<article>
  <a id="buttons"></a>
  <h2>Buttons</h2>
  {% include /pages/buttons.hbs %}
</article>

<article>
  <a id="checkboxes"></a>
  <h2>Checkboxes</h2>
  <p>
    Use checkbox when:
  </p>
  <ul>
    <li>Multiple options within a set are available</li>
    <li>Settings need to be confirmed by the user before submitting</li>
    <li>There is not an expecation of immediate change</li>
  </ul>
  <p>More examples on <a href="https://uxplanet.org/checkbox-vs-toggle-switch-7fc6e83f10b8">UX Planet</a> and <a href="https://www.nngroup.com/articles/toggle-switch-guidelines/">Nielson Group</a></p>
  {% include /pages/checkbox.hbs %}
</article>

<article>
  <a id="radio"></a>
  <h2>Radio</h2>
  {% include /pages/radio.hbs %}
</article>

<article>
  <a id="toggles"></a>
  <h2>Toggles</h2>
  <p>
    Use a Toggle when:
  </p>
  <ul>
    <li>An instant response is expected</li>
    <li>User does not need to confirm the changes</li>
  </ul>
  <p>More examples on <a href="https://uxplanet.org/checkbox-vs-toggle-switch-7fc6e83f10b8">UX Planet</a> and <a href="https://www.nngroup.com/articles/toggle-switch-guidelines/">Nielson Group</a></p>
  {% include /pages/toggle.hbs %}
</article>