---
layout: default
---
<!-- DEFAULT / PRIMARY -->

<div class="container p-4">
  {% include components/button/button.hbs value="Primary" %}
  {% include components/button/button.hbs value="Secondary" class="secondary" %}

  {% include components/button/button.hbs value="Disabled" class="disabled" %}
  {% include components/button/button.hbs value="Disabled" class="disabled primary" %}
  {% include components/button/button.hbs value="Disabled" class="disabled secondary" %}
</div>

<!-- DEFAULT / SECONDARY -->
<div class="container p-4">

</div>

<!-- DEFAULT / SECONDARY -->
<div class="container p-4">
  {% include components/button/button.hbs value="Small" class="small" %}
  {% include components/button/button.hbs value="Secondary" class="secondary small" %}

  {% include components/button/button.hbs value="Disabled" class="disabled small" %}
  {% include components/button/button.hbs value="Disabled" class="disabled primary small" %}
  {% include components/button/button.hbs value="Disabled" class="disabled secondary small" %}
</div>

<pre>
  <code class="language-html">
  &lt;button class="primary btn"&gt;
      &lt;span&gt;Primary&lt;/span&gt;
  &lt;/button&gt;
  </code>
</pre>


<pre>
  <code class="language-html">
  &lt;button disabled class="bg-ui-medium-gray btn"&gt;
      &lt;span&gt;This Button Is Disabled&lt;/span&gt;
  &lt;/button&gt;
  </code>
</pre>

  <!-- 2 - STAGE / CONFIRM -->
<div class="container p-4">
  {% include components/button/button.hbs
    value="Something Wicked This Way Comes"
    stage-value='<i class="fas fa-exclamation-triangle"></i>&nbsp;Are you sure?'
    class="negative confirm"
  %}
</div>



<pre>
  <code class="language-html">
  &lt;button class="confirm negative staged bg-hcs-warm-red btn"&gt;
    &lt;span class="absolute left-0"&gt;
      &lt;i class="fas fa-exclamation-triangle"&gt;&lt;/i&gt;
      &nbsp;Are you sure?
    &lt;/span&gt;
    &lt;span&gt;Something Wicked This Way Comes&lt;/span&gt;
  &lt;/button&gt;
  </code>
</pre>




<!-- 2 - STAGE / WAIT -->
<div class="container p-4">
  {% include components/button/button.hbs
    value="Does Something After"
    stage-value='<i class="fas fa-spinner fa-pulse"></i>'
    class="secondary wait"
  %}
</div>

<pre>
  <code class="language-html">
  &lt;button class="wait staged secondary bg-hcs-blue btn"&gt;
    &lt;span class="absolute left-0"&gt;
      &lt;i class="fas fa-spinner fa-pulse"&gt;&lt;/i&gt;
    &lt;/span&gt;
    &lt;span&gt;Does Something After&lt;/span&gt;
  &lt;/button&gt;
  </code>
</pre>






<script>
document.querySelector('button.wait').addEventListener('click', function(e) {

  document.querySelector('button.wait').classList.toggle("waiting");

  setTimeout(
    function() {
      document.querySelector('button.wait').classList.remove("waiting");
    }
  , 2000);

});

document.querySelector('button').addEventListener('click', function(e) {

  document.querySelector('button.wait').classList.remove("waiting");

});

document.querySelector('button.confirm').addEventListener('click', function(e) {

  document.querySelector('button.confirm').classList.toggle("waiting");

});
</script>