---
layout: default
---
<!-- DEFAULT / PRIMARY -->

<div class="container p-4">
  <h2>Default</h2>
  {% include components/checkbox/checkbox.hbs %}
</div>
<div class="container p-4">
  <h2>Disabled</h2>
  {% include components/checkbox/checkbox.hbs disabled="disabled" %}
  {% include components/checkbox/checkbox.hbs disabled="disabled" checked="checked" %}

</div>
<div class="container p-4">
  <h2>Indeterminate</h2>
  {% include components/checkbox/checkbox.hbs indeterminate="indeterminate" checked="checked" %}
</div>



<pre>
  <code class="language-html">

    &lt;label class="
      hcs-field
      checkbox
      relative
      inline-block
      mb-2
      mr-4
    "&gt;
      &lt;input
        type="checkbox"
        class="hidden"
        value=""
      /&gt;
      &lt;span
        class="
          bg-white
          cursor-pointer
          relative
          rounded
          inline-block
          mr-1
          align-middle
        "
      &gt;&lt;/span&gt;
      &lt;/sub&gt;Label Text&lt;/label&gt;
    &lt;/label&gt;


  </code>

  <code class="language-html">

    &lt;label class="
      hcs-field
      checkbox
      relative
      inline-block
      mb-2
      mr-4
      indeterminate
    "&gt;
      &lt;input
        type="checkbox"
        class="hidden"
        value=""
      /&gt;
      &lt;span
        class="
          bg-white
          cursor-pointer
          relative
          rounded
          inline-block
          mr-1
          align-middle
        "
      &gt;&lt;/span&gt;
      &lt;/sub&gt;Label Text&lt;/label&gt;
    &lt;/label&gt;



    </code>
</pre>