---
layout: default
---
<!-- DEFAULT / PRIMARY -->

<div class="container p-4">
  <h2>Default</h2>
  {% include components/toggle/toggle.html id="toggle1" %}
</div>
<div class="container p-4">
  <h2>Disabled</h2>
  {% include components/toggle/toggle.html id="toggle2" disabled="true" off-label="This is off" on-label="This is on"%}
  {% include components/toggle/toggle.html id="toggle3" disabled="true" checked="true" %}
</div>

<pre>
  <code class="language-html">
    &lt;div class="hcs-toggle flex mb-2 inline-block"&gt;
      &lt;input
        class="hidden"
        id="123"
        type="checkbox"
        disabled="disabled"
        checked="checked"
      /&gt;
      &lt;label
        class="
          relative
          inline-block
          outline-none
          rounded-full
          cursor-pointer
          select-none
          align-middle
          bg-grey-lightest
          border-none
          active:shadow-none"
        for="123"
      &gt;
      &lt;/label&gt;
      &lt;span class="label--off order-first mr-3"&gt;Off&lt;/span&gt;&lt;!-- Optional --&gt;
      &lt;span class="label--on ml-3"&gt;On&lt;/span&gt;&lt;!-- Optional --&gt;
    &lt;/div&gt;
  </code>
</pre>