---
layout: default
---
<!-- DEFAULT / PRIMARY -->

<div class="container p-4">
  <h2>Default</h2>
  {% include components/toggle/toggle.hbs id="toggle1" %}
  {% include components/checkbox/checkbox.hbs %}
</div>
<div class="container p-4">
  <h2>Disabled</h2>
  {% include components/toggle/toggle.hbs id="toggle2" disabled="true" off-label="This is off" on-label="This is on"%}
  {% include components/toggle/toggle.hbs id="toggle3" disabled="true" checked="true" %}
</div>

<pre>
  <code class="language-html">
    &lt;label class="hcs-field toggle mb-2 mr-4 inline-block"&gt;
      &lt;div class="flex"
        &lt;input
          class="hidden"
          type="checkbox"
          disabled="disabled"
          checked="checked"
        /&gt;
        &lt;span
          class="
            relative
            inline-block
            outline-none
            rounded-full
            cursor-pointer
            select-none
            align-middle
            bg-grey-lightest
            border-none
            active:shadow-none
          "
        &gt;
        &lt;/span&gt;
        &lt;sub class="label--off order-first mr-3"&gt;Off&lt;/sub&gt;&lt;!-- Optional --&gt;
        &lt;sub class="label--on ml-3"&gt;On&lt;/sub&gt;&lt;!-- Optional --&gt;
      &lt;/div&gt;
    &lt;/label&gt;
  </code>
</pre>