<figure>
  <img src="/assets/img/hcs-logo.svg" />
  <figcaption class="text-hcs-blue relative font-display">Design System</figcaption>
</figure>


<ul class="pt-8">
  <li>
    <a href="/typography/index.html">Typography</a>
  </li>
  <li>
    <a href="/form-elements/index.html">Form Elements</a>
    <ul>
      <li><a href="/form-elements/index.html#buttons">Buttons</a></li>
      <li><a href="/form-elements/index.html#text-input">Text Input</a></li>
      <li><a href="/form-elements/index.html#textarea">Textarea</a></li>
      <li><a href="/form-elements/index.html#checkboxes">Checkbox</a></li>
      <li><a href="/form-elements/index.html#radio">Radio</a></li>
      <li><a href="/form-elements/index.html#toggles">Toggle</a></li>
    </ul>
  </li>
  <li>
    Todo
    <ul>
      <li>Typography</li>
      <li>Color</li>
      <li>Soft Grid</li>
      <li>Empty State</li>
      <li>Grids / Tables</li>
    </ul>
</ul>