<!-- DEFAULT / PRIMARY -->
<div class="container p-4">
  <img src="/assets/img/hcs-btn-dissect.png" alt="Button Dissection" />
</div>

<div class="container p-4">
  <h3>Default</h3>
  {% include components/button/button.hbs value="Primary" %}
  {% include components/button/button.hbs value="Secondary" class="hcs-btn--secondary" %}
  {% include components/button/button.hbs value="Warn" class="hcs-btn--warn" %}
  {% include components/button/button.hbs value="Danger" class="hcs-btn--danger" %}
  {% include components/button/button.hbs value="Disabled" disabled="disabled" %}

  {% include components/button/button.hbs value="<i class='fas fa-asterisk -ml-2 mr-2'></i> Primary" %}
  {% include components/button/button.hbs value="Primary <i class='fas fa-asterisk -mr-2 ml-2'></i> " %}
</div>

<div class="container p-4">
  <h3>Outline</h3>
  {% include components/button/button.hbs value="Primary" class="hcs-btn--outline"%}
  {% include components/button/button.hbs value="Secondary" class="hcs-btn--secondary hcs-btn--outline" %}
  {% include components/button/button.hbs value="Warn" class="hcs-btn--warn hcs-btn--outline" %}
  {% include components/button/button.hbs value="Danger" class="hcs-btn--danger hcs-btn--outline" %}
  {% include components/button/button.hbs value="Disabled" disabled="disabled" class="hcs-btn--outline" %}

  {% include components/button/button.hbs value="<i class='fas fa-asterisk -ml-2 mr-2'></i> Primary" class="hcs-btn--outline" %}
  {% include components/button/button.hbs value="Primary <i class='fas fa-asterisk -mr-2 ml-2'></i> " class="hcs-btn--outline" %}
</div>


<!-- DEFAULT / SECONDARY -->
<div class="container p-4">
  <h3>Small</h3>

  {% include components/button/button.hbs value="Small" class="hcs-btn--small" %}
  {% include components/button/button.hbs value="Secondary" class="hcs-btn--secondary hcs-btn--small" %}
  {% include components/button/button.hbs value="Warn" class="hcs-btn--warn hcs-btn--small" %}
  {% include components/button/button.hbs value="Danger" class="hcs-btn--danger hcs-btn--small" %}
  {% include components/button/button.hbs value="Disabled" disabled="disabled" class="hcs-btn--small" %}

  {% include components/button/button.hbs value="<i class='fas fa-asterisk -ml-2 mr-2'></i> Primary" class="hcs-btn--danger hcs-btn--small" %}
  {% include components/button/button.hbs value="Primary <i class='fas fa-asterisk -mr-2 ml-2'></i> " class="hcs-btn--warn hcs-btn--small"%}
</div>

<!--
<pre>
<code class="language-html">
&lt;button class="primary btn"&gt;
    &lt;span&gt;Primary&lt;/span&gt;
&lt;/button&gt;
</code>
</pre>


<pre>
<code class="language-html">
&lt;button disabled class="bg-ui-medium-gray btn"&gt;
    &lt;span&gt;This Button Is Disabled&lt;/span&gt;
&lt;/button&gt;
</code>
</pre>
-->
  <!-- 2 - STAGE / CONFIRM -->
<div class="container p-4">
  {% include components/button/button.hbs
    value="Something Wicked This Way Comes"
    stage-value='<i class="fas fa-exclamation-triangle"></i>&nbsp;Are you sure?'
    class="hcs-btn--warn"
    id="toggle"
  %}
</div>


<!--
<pre>
<code class="language-html">
&lt;button class="confirm negative staged bg-hcs-warm-red btn"&gt;
  &lt;span class="absolute left-0"&gt;
    &lt;i class="fas fa-exclamation-triangle"&gt;&lt;/i&gt;
    &nbsp;Are you sure?
  &lt;/span&gt;
  &lt;span&gt;Something Wicked This Way Comes&lt;/span&gt;
&lt;/button&gt;
</code>
</pre>
-->



<!-- 2 - STAGE / WAIT -->
<div class="container p-4">
  {% include components/button/button.hbs
    value="Save"
    stage-value='<i class="fas fa-spinner fa-pulse"></i>'
    class="hcs-btn--secondary"
    id="wait"
  %}
</div>

<!--
<pre>
<code class="language-html">
&lt;button class="wait staged secondary bg-hcs-blue btn"&gt;
  &lt;span class="absolute left-0"&gt;
    &lt;i class="fas fa-spinner fa-pulse"&gt;&lt;/i&gt;
  &lt;/span&gt;
  &lt;span&gt;Does Something After&lt;/span&gt;
&lt;/button&gt;
</code>
</pre>
-->





<script>
document.querySelector('#wait').addEventListener('click', function(e) {

  document.querySelector('#wait').classList.toggle("hcs-btn--toggled");

  setTimeout(
    function() {
      document.querySelector('#wait').classList.remove("hcs-btn--toggled");
    }
  , 2000);

});

document.querySelector('button').addEventListener('click', function(e) {

  document.querySelector('#toggle').classList.remove("hcs-btn--toggled");

});

document.querySelector('#toggle').addEventListener('click', function(e) {

  document.querySelector('#toggle').classList.toggle("hcs-btn--toggled");

});
</script>