  <div class="grid grid-cols-4 gap-8 mb-24">
    <div class="text-right">
      <h2>Black &amp; White</h2>
    </div>
    <div class="flex">
      <div class="bg-black flex items-end mr-4 content-end text-right p-2 flex items-end content-end text-right p-2  w-16 h-16 shadow-lg rounded-md text-white">Black</div>
      <p class="mt-8">#000000</p>
    </div>
    <div class="flex">
      <div class="bg-white flex items-end mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md text-black">White</div>
      <p class="mt-8">#FFFFFF</p>
    </div>
    <div>
      &nbsp;
    </div>
  </div>
  <div class="grid grid-cols-4 gap-8 mb-24">
    <div class="row-span-3 text-right">
      <h2>Gray</h2>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-gray-100 text-gray-900">100</div><p class="mt-8">#F7FAFC</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-gray-200 text-gray-900">200</div><p class="mt-8">#EDF2F7</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-gray-300 text-gray-900">300</div><p class="mt-8">#E2E8F0</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-gray-400 text-gray-900">400</div><p class="mt-8">#CBD5E0</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-gray-500 text-gray-900">500</div><p class="mt-8">#A0AEC0</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-gray-600 text-white dont-use">600</div><p class="mt-8">#718096</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-gray-700 text-white">700</div><p class="mt-8">#4A5568</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-gray-800 text-white">800</div><p class="mt-8">#2D3748</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-gray-900 text-white">900</div><p class="mt-8">#1A202C</p>
    </div>
  </div>

  <div class="grid grid-cols-4 gap-8 mb-24">
    <div class="row-span-3 text-right">
      <h2>Blue</h2>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-blue-100 text-gray-900">100</div><p class="mt-8">#E6F6FD</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-blue-200 text-gray-900">200</div><p class="mt-8">#BFEAF9</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-blue-300 text-gray-900">300</div><p class="mt-8">#99DDF5</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-blue-400 text-gray-900">400</div><p class="mt-8">#4DC3EE</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-blue-500 text-gray-900">500</div><p class="mt-8">#00A9E7</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-blue-600 text-gray-900">600</div><p class="mt-8">#0098D0</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-blue-700 text-white">700</div><p class="mt-8">#00658B</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-blue-800 text-white">800</div><p class="mt-8">#004C68</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-blue-900 text-white">900</div><p class="mt-8">#003345</p>
    </div>
  </div>
  <div class="grid grid-cols-4 gap-8 mb-24">
    <div class="row-span-3 text-right">
      <h2>Red</h2>
    </div>

    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-red-200 text-gray-900">200</div><p class="mt-8">#FFE2DC</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-red-400 text-gray-900 ">400</div><p class="mt-8">#EB6A4D</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-red-500 text-white">500</div><p class="mt-8">#E32A00</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-red-600 text-white">600</div><p class="mt-8">#CC2600</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-red-800 text-white">800</div><p class="mt-8">#440D00</p>
    </div>
  </div>
  <div class="grid grid-cols-4 gap-8 mb-24">
    <div class="row-span-3 text-right">
      <h2>Yellow</h2>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-yellow-200 text-gray-900">200</div><p class="mt-8">#FFF4C1</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-yellow-400 text-gray-900">400</div><p class="mt-8">#FFE150</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-yellow-500 text-gray-900">500</div><p class="mt-8">#FFD405</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-yellow-600 text-gray-900">600</div><p class="mt-8">#E6BF05</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-yellow-800 text-white">800</div><p class="mt-8">#4D4002</p>
    </div>
  </div>
  <div class="grid grid-cols-4 gap-8 mb-24">
    <div class="row-span-3 text-right">
      <h2>Green</h2>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-green-200 text-gray-900">200</div><p class="mt-8">#DEEDBF</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-green-400 text-gray-900">400</div><p class="mt-8">#A2CD4D</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-green-500 text-gray-900">500</div><p class="mt-8">#7AB800</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-green-600 text-gray-900 ">600</div><p class="mt-8">#6EA600</p>
    </div>
    <div class="flex">
      <div class="flex items-end  mr-4 content-end text-right p-2  w-16 h-16 shadow-lg rounded-md bg-green-800 text-white">800</div><p class="mt-8">#253700</p>
    </div>

  </div>