<!-- DEFAULT / PRIMARY -->

<div class="container p-4">
  <h3>Default</h3>
  {% include components/message/message.hbs %}

  <h3>Success</h3>
  {% include components/message/message.hbs class="hcs-message--success" %}

  <h3>Caution</h3>
  {% include components/message/message.hbs class="hcs-message--caution" %}

  <h3>Danger</h3>
  {% include components/message/message.hbs class="hcs-message--danger" %}

</div>

