<!-- DEFAULT / PRIMARY -->

<div class="container p-4">
  {% include components/text-input/text-input.hbs id="ti1" %}
  {% include components/text-input/text-input.hbs id="ti2" %} {% include components/button/button.hbs value="Primary" %}
  {% include components/text-input/text-input-label.hbs disabled="true" id="ti3" %}
</div>


