<!-- DEFAULT / PRIMARY -->

<div class="container p-4">
  {% include components/text-input/text-input.hbs id="ti1" %}
  {% include components/text-input/text-input.hbs id="ti1" %} {% include components/button/button.hbs value="Primary" %}
</div>


