aside figure figcaption {
  top: -0.5rem;
}
aside  ul {
  @apply list-none;

  a {
    @apply text-white no-underline;

    &:hover {
      @apply no-underline;
    }
  }
}
aside > ul > li {
  @apply font-bold mb-4;
}

aside > ul > li ul {
  @apply font-normal pl-4 ml-1 mt-2 border-l;

  li {
    @apply mb-4;
  }

}

article {
  @apply mb-32;
}

pre[class*="language-"] {
  max-height: 15rem;
  overflow: auto;
}

.dont-use {
  border: 3px solid theme('colors.red.600');
}