<div class="hcs-toggle flex mb-2 inline-block">
  <input
    class="hidden"
    id="{{ include.id }}"
    type="checkbox"
    {% if include.disabled %}disabled="disabled"{% endif %}
    {% if include.checked %}checked="checked"{% endif %}
  />
  <label
    class="
      relative
      inline-block
      outline-none
      rounded-full
      cursor-pointer
      select-none
      align-middle
      bg-grey-lightest
      border-none
      active:shadow-none"
    for="{{ include.id }}"
  >
  </label>
  <span class="label--off order-first mr-3">{% if include.off-label %}{{include.off-label}}{% else %}Off{% endif %}</span><!-- Optional -->
  <span class="label--on ml-3">{% if include.on-label %}{{include.on-label}}{% else %}On{% endif %}</span><!-- Optional -->
</div>
