<label class="hcs-field hcs-toggle">
  <input
    class="hcs-toggle__input"
    type="checkbox"
    {% if include.disabled %}disabled="disabled"{% endif %}
    {% if include.checked %}checked="checked"{% endif %}
  />
  <span class="hcs-toggle__pseudo active:shadow-none"></span>
  <span class="hcs-field__option-label--off hcs-field__option-label">{% if include.off-label %}{{include.off-label}}{% else %}Off{% endif %}</span><!-- Optional -->
  <span class="hcs-field__option-label--on hcs-field__option-label">{% if include.on-label %}{{include.on-label}}{% else %}On{% endif %}</span><!-- Optional -->
</label>
